/*----- Reset -----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----- Custom Properties -----*/
:root {
  --primary-color: #0aa564;
  --primary-color-light: #07c073;
  --secondary-color: #5f3dc4;
  --secondary-color-light: #845ef7;
  --dark-background: #333;
  --white-background: #eee;
}

/*----- Default Styles -----*/
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #00c6ff; /* fallback for old browsers */
  background: linear-gradient(to right bottom, #0072ff, #00c6ff);
}
.forum-title {
  font-size: 3.5rem;
  color: var(--dark-background);
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/*----- Navbar -----*/
.navbar {
  height: 100%;
  background-color: #eee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.nav-container {
  width: 100%;
  max-width: 1600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.03);
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo-icon {
  height: 50px;
}
.logo-icon img {
  height: 100%;
  object-fit: contain;
}
.logo-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-background);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
.nav-link {
  background-color: var(--secondary-color);
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}
.nav-link a {
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--secondary-color-light);
}
.nav-link:hover a {
  color: #111;
}
/* Dynamic user navbar */
.welcome-box {
  width: 40%; /* make container smaller than parent */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.welcome-user,
.welcome-user-name {
  font-size: 1.2rem;
}
.user-avatar {
  display: flex;
  height: 30px;
  background-color: var(--primary-color-light);
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar img {
  object-fit: cover;
}
.nav-icon-link {
  display: flex;
  align-items: center;
  width: 30px;
  color: var(--dark-background);
}
.nav-icon-link:hover {
  color: var(--secondary-color-light);
}
.nav-link-create {
  background-color: var(--primary-color);
}
.nav-link-create:hover {
  background-color: var(--primary-color-light);
}

/*----- Main Styling -----*/
/* SearchBar */
/* .main-container {
  display: flex;
  flex-direction: column;
} */
.input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 20%;
  margin: 2rem auto;

  padding: 0.2rem 0.5rem;
  border-radius: 30px;
  background: white;
  transition: all 0.3s ease;
}
.input-box:focus-within {
  /* With focus-within we can make the parent grow when
    input is on focus state*/
  outline: 2px solid var(--dark-background);
  outline-offset: 2px;
  width: 25%;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.3rem;
  background: transparent;
}
