/*----- Reset -----*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----- Custom Properties -----*/
:root {
  --primary-color: #0aa564;
  --primary-color-light: #07c073;
  --secondary-color: #5f3dc4;
  --secondary-color-light: #845ef7;
  --dark-background: #222;
  --white-background: #eee;
}

/*----- Default Styles -----*/
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #00c6ff; /* fallback for old browsers */
  background: linear-gradient(to right bottom, #0072ff, #00c6ff);
}
h1 {
  font-size: 3.5rem;
  color: var(--dark-background);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 2.5rem;
  color: var(--dark-background);
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
h3 {
  font-size: 1.8rem;
  text-align: center;
}
.main-container {
  max-width: 1200px;
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
}

/*----- Navbar -----*/
.navbar {
  height: 100%;
  background-color: #eee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.nav-container {
  width: 100%;
  max-width: 1600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.03);
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo-icon {
  height: 50px;
}
.logo-icon img {
  height: 100%;
  object-fit: contain;
}
.logo-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-background);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
.nav-link {
  background-color: var(--secondary-color);
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}
.nav-link a {
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--secondary-color-light);
}
.nav-link:hover a {
  color: #111;
}
/* Dynamic user navbar */
.welcome-box {
  width: 40%; /* make container smaller than parent */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.welcome-user,
.welcome-user-name {
  font-size: 1.2rem;
}
.user-avatar {
  display: flex;
  height: 30px;
  background-color: var(--primary-color-light);
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar img {
  object-fit: cover;
}
.nav-icon-link {
  display: flex;
  align-items: center;
  width: 30px;
  color: var(--dark-background);
}
.nav-icon-link:hover {
  color: var(--secondary-color-light);
}
.nav-link-create {
  background-color: var(--primary-color);
}
.nav-link-create:hover {
  background-color: var(--primary-color-light);
}

/*----- Main Styling -----*/
/*--- SearchBar ---*/
.search-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.input-box {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2rem auto;
  flex-grow: 0.8;

  padding: 0.2rem 0.5rem;
  border-radius: 30px;
  background: white;
  transition: all 0.3s ease;
}
.input-box:focus-within {
  /* With focus-within we can make the parent grow when
    input is on focus state*/
  outline: 2px solid var(--dark-background);
  outline-offset: 2px;
  flex-grow: 1;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.3rem;
  background: transparent;
}

/*--- Posts ---*/
.post-card-container {
  width: 100%; /* of the main container */
  /* border: 1px solid green; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.post-card {
  max-width: 800px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: var(--white-background);
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  transition: all 0.3s;
}
.post-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.post-title a {
  text-decoration: none;
  color: var(--primary-color);
}
.post-title a:hover {
  color: var(--primary-color-light);
}
.post-content {
  width: 100%; /* of the post card */
  overflow: hidden;
  text-overflow: ellipsis;
  /* For multi-line truncation */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid saddlebrown; */
  column-gap: 2rem;
}
.button-wrapper,
.post-comments {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.post-like-btn,
.post-dislike-btn {
  border: none;
  cursor: pointer;
}
.post-dislike-btn img,
.post-comments img {
  width: 28px;
}
.post-author {
  font-size: 1.1rem;
  margin-right: 3rem;
}
